In [1]:
from src.Credit_Card_Approval.logger import logging

In [2]:
import pandas as pd
data=pd.read_csv("E:\\iNeuron\\credit_card_project\\notebooks\\data\\data.csv")

In [3]:
data.head()

,Unnamed: 0,A15,A14,A13,A12,A11,A10,A9,A8,A7,A6,A5,A4,A3,A2,A1,A16
0,0,0,202.0,g,f,1,t,t,1.25,v,w,g,u,0.000,30.83,b,+
1,1,560,43.0,g,f,6,t,t,3.04,h,q,g,u,4.460,58.67,a,+
2,2,824,280.0,g,f,0,f,t,1.50,h,q,g,u,0.500,24.50,a,+
3,3,3,100.0,g,t,5,t,t,3.75,v,w,g,u,1.540,27.83,b,+
4,4,0,120.0,s,f,0,f,t,1.71,v,w,g,u,5.625,20.17,b,+

In [4]:
data.drop(columns='Unnamed: 0')

     A15    A14 A13 A12  A11 A10 A9    A8  A7  A6 A5 A4      A3     A2 A1 A16
0      0  202.0   g   f    1   t  t  1.25   v   w  g  u   0.000  30.83  b   +
1    560   43.0   g   f    6   t  t  3.04   h   q  g  u   4.460  58.67  a   +
2    824  280.0   g   f    0   f  t  1.50   h   q  g  u   0.500  24.50  a   +
3      3  100.0   g   t    5   t  t  3.75   v   w  g  u   1.540  27.83  b   +
4      0  120.0   s   f    0   f  t  1.71   v   w  g  u   5.625  20.17  b   +
..   ...    ...  ..  ..  ...  .. ..   ...  ..  .. .. ..     ...    ... ..  ..
685    0  260.0   g   f    0   f  f  1.25   h   e  p  y  10.085  21.08  b   -
686  394  200.0   g   t    2   t  f  2.00   v   c  g  u   0.750  22.67  a   -
687    1  200.0   g   t    1   t  f  2.00  ff  ff  p  y  13.500  25.25  a   -
688  750  280.0   g   f    0   f  f  0.04   v  aa  g  u   0.205  17.92  b   -
689    0    0.0   g   t    0   f  f  8.29   h   c  g  u   3.375  35.00  b   -

[690 rows x 16 columns]